<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A stub server to mock behaviour of HTTP(s) / REST / SOAP services">
    <meta name="author" content="Amit Gupta">

    <title>Natural Intelligence - Stubmatic</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- <img src="img/stubmatic_logo.png" width="50px" /> --><a class="navbar-brand" href="#page-top">Stubmatic</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#examples">Examples</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">Features</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#showcase">Showcase</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-color: #2c3e50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <svg height="370" width="320" class="bluecode inner">
                        <g fill="none">
                            <path class="svgblue" d="M5 50 l250 0" />
                            <path class="svgblue" d="M5 110 l100 0" />
                            <path class="svgblue" d="M5 170 l170 0" />
                            <path class="svgblue" d="M5 230 l240 0" />
                            <path class="svgblue" d="M5 290 l100 0" />
                            <path class="svgblue" d="M5 350 l180 0" />
                        </g>
                        Sorry, your browser does not support inline SVG.
                    </svg>
                    <svg height="370" width="320"  class="orangecode inner">
                        <g fill="none">
                            <path class="svgorange" d="M5 30 l215 0" />
                            <path class="svgorange" d="M5 90 l80 0" />
                            <path class="svgorange" d="M5 150 l300 0" />
                            <path class="svgorange" d="M5 210 l200 0" />
                            <path class="svgorange" d="M5 270 l200 0" />
                            <path class="svgorange" d="M5 330 l230 0" />
                        </g>
                        Sorry, your browser does not support inline SVG.
                    </svg> -->
                    <img src="img/stubmatic_logo.png" width="300px" />
                    <div class="intro-text">
                        <span class="name rubberBand animated">Stubmatic</span>
                        <span class="skills">Mock the behaviour of HTTP(s) / REST / SOAP services</span>
<div class="empty"></div>
<div  class="empty"></div>
                        <div>
                            <a href="https://www.npmjs.com/package/stubmatic"><span class="button " style="background-color: #18bc9c; ">Check on NPM <img src="img/npm.png" style="display: inline-block;width: 50px; vertical-align: text-top; margin-left:5px" /></span></a>
                            <a href="https://github.com/NaturalIntelligence/Stubmatic"><span class="button " style="background-color: #3399ff ">Check on GitHub <i class="fa fa-github fa-lg"></i></span></a>
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KQJAX48SPUKNC"><span class="button " style="background-color: orange ">Donate &nbsp;<i class="fa fa-money fa-lg"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Examples Grid Section -->
    <section id="examples">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Examples</h2>
                    <div class="empty"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#exampleModal1" class="portfolio-link" data-toggle="modal">
                        <div class="example_box v-align" style=" background-color: #18bc9c;"> Set up project, create stubs for SOAP webservices, use of file strategies</div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#exampleModal2" class="portfolio-link" data-toggle="modal">
                        <div class="example_box v-align" style=" background-color: #334d5c;"> <span>Create stubs for REST webservices with delay in response</span></div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#exampleModal3" class="portfolio-link" data-toggle="modal">
                        <div class="example_box v-align" style=" background-color: #1037b5;"> Send a file in response</div>
                    </a>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#exampleModal4" class="portfolio-link" data-toggle="modal">
                        <div class="example_box v-align" style=" background-color: #130f0f;"> <span>Error response</span></div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#exampleModal5" class="portfolio-link" data-toggle="modal">
                        <div class="example_box v-align" style=" background-color: #fa9f42;"> <span>Make Response skeleton using dbsets and expressions </span></div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <a href="#exampleModal6" class="portfolio-link" data-toggle="modal">
                    <div class="example_box v-align" style=" background-color: #1fa4b6;"> <span>Construct response from small chunks/dumps</span></div>
                    </a>
                </div>
            </div>
            <p>Don't forget to check <a href="https://github.com/NaturalIntelligence/Stubmatic/wiki">wiki</a> for detailed and updated documentations.</p>
        </div>

    </section>

    <!-- Features Section -->
    <section class="success" id="features" style="background-color: #1963ad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="empty"></div>
                    <p>To make the response dynamic, stubmatic comes with various features
                    </p>
                    <ul class="features">
                        <li><b>Strategy</b>: it helps to pick one file to serve the response.</li>
                        <li><b>Default mapping and short notations</b>: Helps to keep mapping file as small as possible whitout verbosing same information</li>
                        <li><b>Multiple mapping files</b>: Helps to keep the project organized.</li>
                        <li><b>Regular Expressions</b>: You can use RE to match a request, capture some part of the request, to decide response file at runtime, to change contents of response at runtime etc. You can capture request part from URL, request body, headers, and query parameters.</li>
                        <li><b>Expressions</b>: Stubmatic has support for inbuilt functions and markers to display date, random number etc.</li>
                        <li><b>Dumps</b>: You can devide the response from multiple files to keep it simplified. And join them at runtime using dumps.</li>
                        <li><b>DB sets</b>: Instead of creating multiple response files for each request, you can create response skeleton. Later you can fill data in this skeleton from dumps and data tables (DB sets).</li>
                        <li><b>Latency</b>: You can set fix or random delay to serve the response</li>
                        <li><b>HTTPS</b>: It supports HTTP and HTTPS both. You can set up 1 way and 2 way SSL hanshaking.</li>
                        <li><b>Attachments</b>: You can write mapping to response a file.</li>
                        <li><b>Compression</b>: If accept-encoding header is set to deflate or gzip then Stubmatic serves compressed response.</li>
                        <li><b>Configuration</b>: If configuration file is missing, Stubmatic can build the response on the basis of directory structure.</li>
                        <li><b>Other</b>: There are also many other small features, like set response code, response headers, logging, debugging etc.</li>
                    </ul>
                    <p>Other highlitghs</p>
                    <ul class="features">
                        <li>Memory and CPU efficient</li>
                        <li>Ready to be used in performance environment</li>
                        <li>No open bug</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Showcase Section -->
    <section id="showcase">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who is using Stubmatic</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <div style="text-align: center;">
                <a href="#submitproject" class="portfolio-link" data-toggle="modal"><button class="button">Showcase Your Project</button></a>
                </div>
                    <p>There are more than 3000 people around the world who is using this tool. I'll update here with detail whoever would like to share the information. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        
                    </div>
                    <div class="footer-col col-md-4">

                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact me</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><img class="me" src="img/a.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/amitguptagwl" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://stackoverflow.com/users/453767/amit-gupt" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/amitguptagwl" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/amitguptagwl" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Your contribution will be appreciated
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Writing stub for a SOAP webservice is pretty much same as writing stub for a POST HTTP call.</p>
                            <p>SOAP requests are in XML format and arrive to server as a part of HTTP request body. So if you know how to validate request body, you can easily write stubs for any SOAP webservice.</p>
                            <p>Let's take an <strong>example</strong></p>
                            <p>Suppose the URL for a SOAP webservice is: <code>"http://localhost:7777/services/Userdetails"</code>. And this is the sample request;</p>
<pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sub="http://example.com/servicename"&gt;
   &lt;soapenv:Header/&gt;
   &lt;soapenv:Body&gt;
      &lt;sub:getUserDetail&gt;
         &lt;sub:userID&gt;7642908761347&lt;/sub:userID&gt;
      &lt;/sub:getuserDetail&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
</pre>
<div class="empty"></div>
<p><i class="fa fa-arrow-right"></i> Let's create the repo
    <br/><kbd>$stubmatic init soap-simulator</kbd>
    <br/><kbd>$cd soap-simulator</kbd>
    
</p>
<div class="empty"></div>
    <p><i class="fa fa-arrow-right"></i> Write some sample XML response. <kbd>$vi stubs/response.xml</kbd>
    </p>

    <pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mcd="http://example.com/userdetails"&gt;
   &lt;soapenv:Header xmlns:cor="http://example.com/coredata_1"&gt;
      &lt;cor:TransactionID&gt;7b2c7bec-1412-44a3-a600-b966a4ba05b7&lt;/cor:TransactionID&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
        &lt;mcd:UserDetails&gt;
            &lt;mcd:UserId&gt;7642908761347&lt;/mcd:UserId&gt;
            &lt;mcd:UserName&gt;Amit Gupta&lt;/mcd:UserName&gt;
        &lt;/mcd:UserDetails&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
    </pre>
    <div class="empty"></div>
<p><i class="fa fa-arrow-right"></i> Add the mapping <kbd>$vi mappings/response.yaml</kbd>
</p>
    <pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: userID>7642908761347
   response:
     headers:
           content-type: text/xml
     file: "response.xml"    
    </pre>
<small>* If you see any error or red entry on screen <code class="bg-danger">Problem in loading mappings/response.yaml</code>, it means there is some syntatical or space/indentation mistake.</small>
<div class="empty"></div>
<p><i class="fa fa-arrow-right"></i> Now Start the stubmatic server</p>
<pre class="code bash">
$stubmatic -v
Configuration: {"mappings":{"default":{"request":{"method":"GET"},"response":{"strategy":"first-found","latency":0,"status":200}},"requests":["mappings/response.yaml"]},"server":{"port":7777,"host":"0.0.0.0"},"dbsets":"dbsets/","stubs":"stubs/","logs":{"path":"logs/"},"dumps":"dumps/"}
Loading 2 mappings from mappings/response.yaml
Loading DB from sampledb
Server listening on: http://0.0.0.0:7777
</pre>
<small>*<code>-v</code> is optional</small>

<div class="empty"></div>
<p><i class="fa fa-arrow-right"></i> Test it</p>
You'll see following on the console.
<pre class="code bash">
<span class="text-success">97dda9950h POST: /services/Userdetails</span>
Reading from file: stubs/response.xml
<span class="text-success">97dda9950h Response served in 144 ms with Status Code 200</span>
</pre>

<h3>Improvement</h3>
<h4>1. Capture some part of request</h4>
<p>For simplification we have mapped only one request. We can add as many as we want. We can also use regular expressions. We can also specify the SOAP action in the mapping if "userId" can be repeated in multiple SOAP requests</p>
<pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: getUserDetail[\s\S]*userID.([0-9]+)
   response:
     headers:
           content-type: text/xml
     file: "response.xml"
</pre>

<p>Change the response to display userId same as we receive in request</p>
    <pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mcd="http://example.com/userdetails"&gt;
   &lt;soapenv:Header xmlns:cor="http://example.com/coredata_1"&gt;
      &lt;cor:TransactionID&gt;7b2c7bec-1412-44a3-a600-b966a4ba05b7&lt;/cor:TransactionID&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
        &lt;mcd:UserDetails&gt;
            &lt;mcd:UserId&gt;&lt;% post.1 %&gt;&lt;/mcd:UserId&gt;
            &lt;mcd:UserName&gt;Amit Gupta&lt;/mcd:UserName&gt;
        &lt;/mcd:UserDetails&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
    </pre>
<p> <small>You can definetely select some part of URL, Headers parameter, and query parameter as well using Regular Expression</small></p>

<h4>2. File selection</h4>
<p>You can use RE to select filename dynamically.</p>
<pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: getUserDetail[\s\S]*userID.([0-9]+)
   response:
     headers:
           content-type: text/xml
     file: "<% post.1 %>-response.xml"
</pre>
<p>You can also use file <a href="https://github.com/NaturalIntelligence/Stubmatic/wiki/04.0-Response-Resolution-Strategy">strategy</a> to server response from specific file.</p>
<pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: getUserDetail[\s\S]*userID.([0-9]+)
   response:
     headers:
           content-type: text/xml
     strategy: first-found
     files: ["<% post.1 %>-response.xml","fault.xml"]
</pre>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Check the first example to setup the project. Here I'm explaining how to map REST requests.</p>
                            <p>Mapping</p>
<pre class="code yaml">
-  request:
     url: /services/Userdetails/([0-9]+)
   response:
     headers:
           content-type: application/json
     file: "response.json"
</pre>
* create response.json <kbd>$vi stubs/response.json</kbd>
<p>Hit <code>http://localhost:7777/services/Userdetails/7642908761347</code> from your browser or from some rest client.</p>

<p>
<strong>Add delay</strong><br/>
Sometimes we want to serve the response with delay to simulate the network delay. You can give fix delay or random delay.
</p>
<pre class="code yaml">
-  request:
     url: /services/Userdetails/([0-9]+)
   response:
     latency: 3000
     #latency: [1000,3000]
     headers:
           content-type: application/json
     file: "response.json"
</pre>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Check the first example to setup the project. Here I'm explaining how to map a request to send HTTP response as a file.</p>
                            <p>Mapping</p>
<pre class="code yaml">
-  request:
     url: /services/Userdetails/([0-9]+)/resume
   response:
     file: <% post.1 %>-resume.pdf
     contentType: application/pdf
</pre>
* don't forget to place pdf file in "stubs" folder
<br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Check the first example to setup the project. Here I'm explaining how to serve error response.</p>
<p>We have already seen how to serve default response. Now see how to change it's response code.</p>
<pre class="code yaml">
-  request:
     url: /services/Userdetails/([0-9]+)
   response:
     status: 200
     files: ["<% post.1 %>-response.json", {"name":"fault.json","status":500}]
</pre>
* You can also use <code>random</code> file strategy to send error response randomly.
<br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Check the first example to setup the project. Here I'm explaining how to use DB sets to create response skeleton.</p>
<p>Let's continue with 1st example where we were showing same name for different user</p>
<pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: getUserDetail[\s\S]*userID.([0-9]+)
   response:
     headers:
           content-type: text/xml
     file: "response.xml"
</pre>

<p>Response File</p>
    <pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mcd="http://example.com/userdetails"&gt;
   &lt;soapenv:Header xmlns:cor="http://example.com/coredata_1"&gt;
      &lt;cor:TransactionID&gt;7b2c7bec-1412-44a3-a600-b966a4ba05b7&lt;/cor:TransactionID&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
        &lt;mcd:UserDetails&gt;
            &lt;mcd:UserId&gt;&lt;% post.1 %&gt;&lt;/mcd:UserId&gt;
            &lt;mcd:UserName&gt;Amit Gupta&lt;/mcd:UserName&gt;
        &lt;/mcd:UserDetails&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
    </pre>
<p>Now what I want is to display different information for each user id.</p>
    <pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mcd="http://example.com/userdetails"&gt;
   &lt;soapenv:Header xmlns:cor="http://example.com/coredata_1"&gt;
      &lt;cor:TransactionID&gt;7b2c7bec-1412-44a3-a600-b966a4ba05b7&lt;/cor:TransactionID&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
        &lt;mcd:UserDetails&gt;
            &lt;mcd:UserId&gt;&lt;% post.1 %&gt;&lt;/mcd:UserId&gt;
            &lt;mcd:UserName&gt;##name##&lt;/mcd:UserName&gt;
            &lt;mcd:UserDob&gt;##dob##&lt;/mcd:UserDob&gt;
        &lt;/mcd:UserDetails&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
    </pre>
<p>To do this, let's create a db set(a text file which looks like a table) <kbd>$vi dbsets/userdetails</kbd></p>
<pre class="code">
id   | name      |  dob                                  | scenario
12345| Amit Gupta| {{formatDate(TODAY-30y,'dd-MM-YYYY')}}| > 30 years
23451| Deepika   | {{formatDate(TODAY-26y,'dd-MM-YYYY')}}| < 30 years 
</pre> 
* Scenario is optional last column, just to remember why I did the entry<br/>
* values in dob can be simple values. But I'm using <a href="https://github.com/NaturalIntelligence/Stubmatic/wiki/06.0-Expressions"> expressions</a> to make it dynamic.<br/>

<p><strong>Final step</strong>: Link request mapping with dbset</p>
<pre class="code yaml">
-  request:
     method: POST
     url: /services/Userdetails
     post: getUserDetail[\s\S]*userID.([0-9]+)

   dbset:
      db: userdetails
      key: <% post.1 %>

   response:
     headers:
           content-type: text/xml
     file: "response.xml"
</pre>

* Make a SOAP request with user id "12345".

<p>Response</p>
<pre class="code xml">
&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mcd="http://example.com/userdetails"&gt;
   &lt;soapenv:Header xmlns:cor="http://example.com/coredata_1"&gt;
      &lt;cor:TransactionID&gt;7b2c7bec-1412-44a3-a600-b966a4ba05b7&lt;/cor:TransactionID&gt;
   &lt;/soapenv:Header&gt;
   &lt;soapenv:Body&gt;
      &lt;mcd:UserDetails&gt;
         &lt;mcd:UserId&gt;12345&lt;/mcd:UserId&gt;
         &lt;mcd:UserName&gt;Amit Gupta&lt;/mcd:UserName&gt;
         &lt;mcd:UserDob&gt;02-01-1987&lt;/mcd:UserDob&gt;
      &lt;/mcd:UserDetails&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;
</pre>

<p>Check <a href="https://github.com/NaturalIntelligence/Stubmatic/wiki/08.0-DB-Sets">another example</a> in detail.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>Instructions</h2>
                            <div class="empty"></div>
                            <p>Check the first example to setup the project. Here I'm explaining how to use Dumps to break large response file into chunks called dumps.</p>
                            <p>Dumps can be resued in multiple response file to maintain the consistency. And they can also be included conditionally using db sets.</p>
                            <p>For example: Including project 1,2,3 for one user while project 2,3,4,5 for other user. Check this <a href="https://github.com/NaturalIntelligence/Stubmatic/wiki/08.0-DB-Sets">good example</a> to understand in detail.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="submitproject" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <iframe id="googleForm" src="https://docs.google.com/forms/d/e/1FAIpQLSdkYxfyNMdgZF2V7Jp0oqBBYM0ty0eIYcD8nAZ154wT7puC7Q/viewform?embedded=true" width="1000" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


    <script src="js/textfill.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script  src="js/highlight.pack.js" ></script>
    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.example_box').fitText(0.6, { minFontSize: '20px', maxFontSize: '40px' });
            hljs.configure({   // optionally configure hljs
              languages: ["diff", "javascript", "css", "apache", "ini",
               "bash", "objectivec", "python", "php", "xml", "coffeescript",
                "cs", "http", "markdown", "ruby", "yaml", "perl", "json",
                 "nginx", "makefile", "sql", "cpp"],
              useBR: false
            });
            $('pre.code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
            //hljs.initHighlightingOnLoad();
        });


    </script>
            
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'Stubmatic/Lobby'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

</body>

</html>
